<!DOCTYPE html>
<html>
<head>
  <title>DesignPro24x7.com</title>
  		<!--<link rel="stylesheet" href="//railsgirls.com/assets/bootstrap.css">
 <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap-theme.css">
 <link href="stylesheets/bootstrap.css" rel='stylesheet' type='text/css' /> -->
 		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
 		<script src="javascript/jquery.min.js"></script>
 		 <!-- Custom Theme files -->
 		<link href="stylesheets/style.css" rel='stylesheet' type='text/css' />
    		 <!-- Custom Theme files -->
 		<meta name="viewport" content="width=device-width, initial-scale=1">
 		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 		</script>
 		<!----webfonts--->
 		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
 		<!---//webfonts--->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= yield %>
  </div>


</body>
</html>
